<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.sjh.joinMapper">

<select id="selectCheck" resultType="String" parameterType="kr.co.sist.user.join.CheckMemberVO">
select name
from member
where name=#{name} and identifier=#{identifier} and tel=#{tel}
</select>

<select id="selectCheckBus" resultType="String" parameterType="kr.co.sist.user.join.CheckMemberVO">
select name
from business
where name=#{name} and identifier=#{identifier} and tel=#{tel}
</select>

<select id="selectIdDup" resultType="String" parameterType="String">
select id
from member
where id=#{id}
</select>

<select id="selectIdDupBusiness" resultType="String" parameterType="String">
select id
from business
where id=#{id}
</select>

<insert id="insertMem" parameterType="kr.co.sist.user.join.JoinMemberVO">
insert into member(id,password,name,identifier,tel,email,status)
values(
	#{id},
	#{password},
	#{name},
	#{identifier},
	#{tel},
	#{email},
	'Y'
)
</insert>

<insert id="insertBus" parameterType="kr.co.sist.user.join.JoinMemberVO">
insert into business(id,password,name,identifier,tel,email,status)
values(
	#{id},
	#{password},
	#{name},
	#{identifier},
	#{tel},
	#{email},
	'Y'
)
</insert>




</mapper>