<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="properties/database.properties"/>
<typeAliases>
 <typeAlias type="kr.co.sist.business.manage.BusinessHotelDomain" alias="bhd"/>
 <typeAlias type="kr.co.sist.business.manage.BusinessHotelVO" alias="bhVO"/>
 <typeAlias type="kr.co.sist.business.manage.SearchHotelVO" alias="shVO"/>
 <typeAlias type="kr.co.sist.business.hotel.HotelListDomain" alias="hld"/>
 <typeAlias type="kr.co.sist.business.room.HotelListDomain" alias="hldRoom"/>
 <typeAlias type="kr.co.sist.business.room.RoomListDomain" alias="rld"/>
 <typeAlias type="kr.co.sist.business.room.SelectRoomVO" alias="srVO"/>
 <typeAlias type="kr.co.sist.business.diningregister.DiningSearchDomain" alias="dsd"/>
 <typeAlias type="kr.co.sist.business.diningregister.BusinessDiningDomain" alias="bdd"/>
 <typeAlias type="kr.co.sist.business.dining.BusinessDiningDomain" alias="bdd2"/>
 <typeAlias type="kr.co.sist.business.diningschedule.DiningSearchVO" alias="dsVO"/>
 <typeAlias type="kr.co.sist.business.diningschedule.DiningScheduleListDomain" alias="dsld"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
<mappers>
<mapper resource="kr/co/sist/business/mapper/hotelMapper.xml"></mapper>
<mapper resource="kr/co/sist/business/mapper/hotelModifyMapper.xml"></mapper>
<mapper resource="kr/co/sist/business/mapper/roomModifyMapper.xml"></mapper>
<mapper resource="kr/co/sist/business/mapper/diningReservationMapper.xml"></mapper>
<mapper resource="kr/co/sist/business/mapper/diningModifyMapper.xml"></mapper>
<mapper resource="kr/co/sist/business/mapper/diningScheduleMapper.xml"></mapper>
  </mappers>
</configuration>