<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.business.diningScheduleMapper">

<select id="selectSchedule" resultType="dsld" parameterType="dsVO">
SELECT ds.category, ds.price, ds.scheduledate, AVG(dr.rating) AS rating, COUNT(DISTINCT db.bookingcode) AS ppl, ds.schedulecode
FROM diningschedule ds
LEFT JOIN diningbooking db ON ds.schedulecode = db.schedulecode
LEFT JOIN diningreview dr ON db.bookingcode = dr.bookingcode
JOIN hotel h ON h.id = #{id}
WHERE (ds.diningcode = #{diningcode} OR ds.diningcode IS NULL)
GROUP BY ds.category, ds.price, ds.scheduledate, ds.schedulecode
</select>
 <select id="selectDining" resultType="dnld" parameterType="String">
select diningname,diningcode
from dining
where hotelcode=#{hotelcode}
</select>
<insert id="insertSchedule" parameterType="dsVO2">
insert into diningschedule(schedulecode, diningcode, price, scheduledate, category, pplcnt)
values('S'||to_char(lpad(seq_diningschedule.nextval, 6, '0')),#{diningcode},#{price},#{scheduledate},#{category},#{pplcnt})
</insert>
<select id="selectSchedule2" resultType="dsid2" parameterType="String">
select * from diningschedule where schedulecode=#{schedulecode}
</select>
<update id="updateSchedule" parameterType="dsVO2">
update diningschedule
set diningcode=#{diningcode},
category=#{category},
pplcnt=#{pplcnt},
price=#{price},
scheduledate=#{scheduledate}
where schedulecode=#{schedulecode}
</update>
</mapper>