<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.business.diningReservationMapper">

<select id="selectDining" resultType="dsd" parameterType="String">
select diningcode, diningname
from dining
where hotelcode in 
(select hotelcode from hotel where id=#{id})
</select>

<select id="selectAllDiningRegister" resultType="bdd" parameterType="String">
SELECT db.bookingcode, db.id, db.bookingname, db.pplcnt, ds.category, db.BOOKINGDATE, db.STATUS
FROM DINING d
INNER JOIN DININGSCHEDULE ds ON d.diningcode = ds.diningcode
INNER JOIN DININGBOOKING db ON ds.schedulecode = db.schedulecode
INNER JOIN hotel h ON d.hotelcode = h.hotelcode
WHERE h.id = #{id}
</select>
<select id="selectDiningRegister" resultType="dd2" parameterType="drVO">
SELECT db.bookingcode, db.id, db.bookingname, db.pplcnt, ds.category, to_char(db.BOOKINGDATE,'YYYY-MM-DD') bookingdate, db.STATUS
FROM DINING d
INNER JOIN DININGSCHEDULE ds ON d.diningcode = ds.diningcode
INNER JOIN DININGBOOKING db ON ds.schedulecode = db.schedulecode
INNER JOIN hotel h ON d.hotelcode = h.hotelcode
WHERE h.id = #{id}
and d.diningcode=#{diningcode}
</select>
<delete id="deleteBooking" parameterType="String">
delete from diningbooking where bookingcode=#{bookingcode}
</delete>
</mapper>