<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.business.hotelModifyMapper">

<select id="searchhotelInfo" resultType="hld" parameterType="String">
SELECT h.hotelcode, h.hotelname, bk.booking_count, rt.total_rating, l.sido, h.inputdate, bk.booking_count
FROM hotel h
LEFT JOIN room r ON h.hotelcode = r.hotelcode
LEFT JOIN (
    SELECT rb.roomcode, COUNT(rb.bookingcode) AS booking_count
    FROM roombooking rb
    GROUP BY rb.roomcode
) bk ON r.roomcode = bk.roomcode
LEFT JOIN (
    SELECT r.hotelcode, SUM(rv.rating) AS total_rating
    FROM room r
    LEFT JOIN roombooking rb ON r.roomcode = rb.roomcode
    LEFT JOIN roomreview rv ON rb.bookingcode = rv.bookingcode
    GROUP BY r.hotelcode
) rt ON h.hotelcode = rt.hotelcode
LEFT JOIN location l ON h.loccode = l.loccode
WHERE h.id = #{id}
</select>

 <select id="hotelInfo" resultType="hid" parameterType="String">
SELECT h.hotelname, h.hoteladdress, h.hotelrate, h.description
FROM hotel h
WHERE h.hotelcode = #{hotelcode}
</select>

<select id="fileList" resultType="fld" parameterType="String">
select filename,filecode
from infofile
where hotelcode = #{hotelcode}
</select>

<!--<insert id="insertHotel">
insert
</insert> -->
</mapper>