<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.business.hotelModifyMapper">

<select id="searchhotelInfo" resultType="hld" parameterType="String">
SELECT h.hotelcode, h.hotelname, r.roomcode, rt.hotelrate, l.sido,h.inputdate
FROM hotel h
LEFT JOIN room r ON h.hotelcode = r.hotelcode
LEFT JOIN (
    SELECT r.hotelcode, SUM(rv.rating)/count(rv.rating) AS hotelrate
    FROM room r
    LEFT JOIN roombooking rb ON r.roomcode = rb.roomcode
    LEFT JOIN roomreview rv ON rb.bookingcode = rv.bookingcode
    GROUP BY r.hotelcode
) rt ON h.hotelcode = rt.hotelcode
LEFT JOIN location l ON h.loccode = l.loccode
WHERE h.id = #{id}
</select>

</mapper>