<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.kdy.diningReviewMapper">

<select id="selectAllMyDiningReview" resultType="mydrd">
select dr.rating, ds.scheduledate, h.hotelname, d.diningname, dr.content
from  diningschedule ds, diningreview dr, diningbooking db, dining d, hotel h, member m
where db.id='member1'
and db.id(+)=m.id
and dr.bookingcode(+)=db.bookingcode
and db.schedulecode(+)=ds.schedulecode
and ds.diningcode(+)=d.diningcode
and d.hotelcode(+)=h.hotelcode
</select>

</mapper>