<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.kdy.diningMapper">

<select id="selectDiningInfo" resultType="">
select d.DININGCODE, d.HOTELCODE, h.hotelname, d.DININGNAME, d.OPERATINGTIME, d.CAPACITY, d.INFORMATION, d.DESCRIPTION
from dining d, hotel h
where d.hotelcode(+) = h.hotelcode
</select>

</mapper>