<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.kdy.noticeMapper">

<select id="selectAllNoticeList" resultType="nd">
SELECT noticecode, title, to_char(inputdate, 'yyyy-mm-dd') inputdate
from notice
</select>

<select id="selectNoticeDetail" parameterType="String" resultType="nd">
select noticecode, title, content, to_char(inputdate, 'yyyy-mm-dd') inputdate, viewcnt
from notice
where noticecode=#{ noticeCode }
</select>
</mapper>