<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="properties/database.properties"/>

<typeAliases>
<typeAlias type="kr.co.sist.admin.login.LoginVO" alias="lVO"/>
<typeAlias type="kr.co.sist.admin.dashboard.DashboardDomain" alias="dd"/>
<typeAlias type="kr.co.sist.admin.manageMem.MemberDomain" alias="md"/>
<typeAlias type="kr.co.sist.admin.manageMem.BusinessDomain" alias="bd"/>
<typeAlias type="kr.co.sist.admin.paging.PagingDomain" alias="pd"/>
<typeAlias type="kr.co.sist.admin.paging.PagingSearchVO" alias="psVO"/>
<typeAlias type="kr.co.sist.admin.paging.PagingVO" alias="pVO"/>
<typeAlias type="kr.co.sist.admin.manageMem.MemInfoDomain" alias="mid"/>
<typeAlias type="kr.co.sist.admin.manageMem.MemDtailPagingVO" alias="miVO"/>
<typeAlias type="kr.co.sist.admin.manageMem.RoomReviewDomain" alias="rrd"/>
<typeAlias type="kr.co.sist.admin.manageMem.DiningReviewDomain" alias="drd"/>
<typeAlias type="kr.co.sist.admin.manageMem.DeleteMemVO" alias="dmVO"/>
<typeAlias type="kr.co.sist.admin.notice.LoadNoticeDomain" alias="lnd"/>
<typeAlias type="kr.co.sist.admin.notice.NoticeInfoDomain" alias="nid"/>
<typeAlias type="kr.co.sist.admin.notice.NoticeInfoVO" alias="niVO"/>
<typeAlias type="kr.co.sist.admin.notice.NoticePagingVO" alias="npVO"/>
<typeAlias type="kr.co.sist.admin.notice.WriteNoticeVO" alias="wnVO"/>
<typeAlias type="kr.co.sist.admin.question.QuestionDomain" alias="qd"/>
<typeAlias type="kr.co.sist.admin.question.QuestionInfoDomain" alias="qid"/>
<typeAlias type="kr.co.sist.admin.question.UpdateAnswerVO" alias="uaVO"/>
<typeAlias type="kr.co.sist.admin.manageHotel.HotelDomain" alias="hd"/>
<typeAlias type="kr.co.sist.admin.manageHotel.HotelInfoDomain" alias="hid"/>
<typeAlias type="kr.co.sist.admin.manageHotel.HotelReviewDomain" alias="hrd"/>
</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
<mappers>
<mapper resource="kr/co/sist/admin/mapper/loginMapper.xml"/>
<mapper resource="kr/co/sist/admin/mapper/dashboardMapper.xml"/>
<mapper resource="kr/co/sist/admin/mapper/manageMemMapper.xml"/>
<mapper resource="kr/co/sist/admin/mapper/pagingMapper.xml"/>
<mapper resource="kr/co/sist/admin/mapper/noticeMapper.xml"/>
<mapper resource="kr/co/sist/admin/mapper/questionMapper.xml"/>
<mapper resource="kr/co/sist/admin/mapper/hotelMapper.xml"/>
  </mappers>
</configuration>