<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.admin.pagingMapper">
<!-- 토탈 페이지 구하기 -->
<select id="selectTotalCnt" resultType="int" parameterType="psVO">
SELECT count(*)
FROM ${tableName}
<where>
<if test="key neq null">
	${field} = ${key}
</if>
</where>
</select>
  
</mapper>