<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="properties/database.properties"/>
<typeAliases>
<typeAlias type="kr.co.sist.user.notice.NoticeVO" alias="nVO"/>
<typeAlias type="kr.co.sist.user.notice.NoticeDomain" alias="nd"/>
<typeAlias type="kr.co.sist.user.qna.QnADomain" alias="qd"/>
<typeAlias type="kr.co.sist.user.qna.WriteQnAVO" alias="wqVO"/>
<typeAlias type="kr.co.sist.user.qna.QnAVO" alias="qVO"/>
<typeAlias type="kr.co.sist.user.mypage.mydiningreview.ReviewDomain" alias="mydrd"/>
<typeAlias type="kr.co.sist.user.mypage.mydiningreview.DeleteReviewVO" alias="drVO"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
<mappers>
<mapper resource="kr/co/sist/user/kdy/mapper/noticeMapper.xml"/>
<mapper resource="kr/co/sist/user/kdy/mapper/qnaMapper.xml"/>
<mapper resource="kr/co/sist/user/kdy/mapper/diningMapper.xml"/>
<mapper resource="kr/co/sist/user/kdy/mapper/diningReviewMapper.xml"/>

  </mappers>
</configuration>